<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>

  <!-- main JS libs -->
  <script src="/js/libs/modernizr.min.js"></script>
  <script src="/js/libs/jquery-1.10.0.js"></script>
  <script src="/js/libs/jquery-ui.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>

  <!-- Style CSS -->
  <link href="/css/bootstrap.css" media="screen" rel="stylesheet">
  <link href="/style.css" media="screen" rel="stylesheet">

  <!-- scripts -->
  <script src="/js/general.js"></script>

  <!-- Include all needed stylesheets and scripts here -->

  <!--[if lt IE 9]><script src="/js/respond.min.js"></script><![endif]-->
  <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {filter: none !important;}
  </style>
  <![endif]-->
</head>

<body>
<div class="body_wrap">
  <div id="topmenu">
    <ul class="dropdown clearfix boxed boxed-blue">
      <li class="link-more"><a href="#"><i></i></a></li>
      <li><a class="ajax" data-url=""><span>Acciones</span></a></li>
      <!--
      <li><a href="#"><span></span></a>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a>
            <ul>
              <li><a href="#">Link 4</a></li>
              <li><a href="#">Link 5</a></li>
              <li><a href="#">Link 6</a></li>
            </ul>
          </li>
        </ul>
      </li>
      -->
      <li class="menu-search">
        <form id="searchForm" class="menu-search-form" method="post">
          <input type="text" name="search" value="" class="menu-search-field" placeholder="Search the website" />
          <input type="submit" value="" class="btn menu-search-submit" name="search-send" />
        </form>
      </li>
    </ul>
  </div>
  <div class="container">
    <h1 class="page-header" style="color:#FFFFFF">Buscar Acciones</h1>
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <form id="busq_stock">
            <div class="form-inline">
              <div class="form-group" style="width:30%">
                <select name="symbol" class="form-control" id="symselect" required>
                  <option value="#" disabled>Buscar Símbolo</option>
                  <option value="AAPL" selected>AAPL</option>
                  <option value="ADRA">ADRA</option>
                  <option value="TWX">TWX</option>
                </select>
              </div>
              <div class="form-group" >
                <label for="desde"><h5>Desde</h5></label>
                <input type="date" class="form-control" name="desde" style="width:35%" max="<%=new Date().toLocaleDateString()%>" required value="2018-04-02">
                <label for="hasta"><h5>Hasta</h5></label>
                <input type="date" class="form-control" name="hasta" style="width:35%" max="<%=new Date().toLocaleDateString()%>" required value="2018-04-03">
                <button type="submit" class="btn btn" style="margin-left:5px; background-color:#428bca" id="fsubmit"><i class="glyphicon glyphicon-search" style="margin: 0;padding: 5px;font-size:30px;text-shadow:2px 2px 4px #000000"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div id="estado"></div>
        <div id="value_option"></div>
        <div id="stock_rows"></div>
          <!--
          <div class="panel-body">

          </div>
          <table class="table table-responsive">
            <thead>
            <tr>
              <th>Date</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Close</th>
              <th>Adjusted Close</th>
              <th>Volume</th>
            </tr>

          </table>
          -->
      </div>
    </div>
  </div>
  <!--/ container -->
</div>

<script type="text/javascript">
  $("#busq_stock").submit(function(e){
      e.preventDefault();
      $("#fsubmit").html("");
      $("#estado").html('<div id="estado" style="margin: 5px;margin-left:45%"><h3>Cargando ...</h3></div>');
      var array = $(this).serializeArray();
      var data = {};
      console.log(array);
      for(var i = 0;i<array.length;i++){
          data[array[i]['name']] = array[i]['value'];
      }
      if(data.symbol){
          $.ajax({
              type: 'post',
              data: data,
              url: '/get_quote',
              success: function(data){
                  $("#fsubmit").html('<i class="glyphicon glyphicon-search" style="margin: 0;padding: 5px; font-size:35px;text-shadow:2px 2px 4px #000000"></i>');
                  $("#estado").html("");
                  $("#stock_rows").html(data);
              }
          });
      }

  }); 
</script>

</body>
</html>
