<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Resultados Simulación</h3>
    </div>
    <div class="panel-body">
        <h1>Compra: <%= data[0]%></h1>
        <h1>Venta: <%= data[1]%></h1>
    </div>
</div>